/* Estilos del rectángulo principal */
.rectangle {
    width: 300px; /* Ancho del rectángulo */
    height: 200px; /* Altura del rectángulo */
    background-color: #3498db; /* Color de fondo */
    border-radius: 15px; /* Radio de los bordes redondeados */
    margin: 50px auto; /* Centrado horizontal y margen superior */
    position: relative; /* Permite la posición de los rectángulos pequeños */
  }
  
  /* Estilos de los rectángulos pequeños */
  .small-rectangle {
    background-color: #e74c3c; /* Color de fondo */
    border-radius: 10px; /* Radio de los bordes redondeados */
    position: absolute; /* Posicionamiento absoluto */
    top: 50px; /* Ajusta la posición vertical */
  }
  
  /* Estilos para el primer rectángulo pequeño */
  .small-rectangle-1 {
    width: 150px; /* Ancho del rectángulo pequeño */
    height: 110px; /* Altura del rectángulo pequeño */
    left: 50px; /* Ajusta la posición horizontal */
  }
  
  /* Estilos para el segundo rectángulo pequeño */
  .small-rectangle-2 {
    width: 70px; /* Ancho del rectángulo pequeño */
    height: 60px; /* Altura del rectángulo pequeño */
    left: 250px; /* Ajusta la posición horizontal */
    top: 150px; /* Ajusta la posición vertical */
    background-color: #27ae60; /* Color de fondo diferente */
  }
  .small-rectangle-3 {
    width: 80px; /* Ancho del rectángulo pequeño */
    height: 80px; /* Altura del rectángulo pequeño */
    left: 318px; /* Ajusta la posición horizontal */
    top: 10px; /* Ajusta la posición vertical */
    background-image: url('imagen.jpeg'); /* Ruta de la imagen */
    background-size: cover; /* Escala la imagen para llenar el círculo */
    background-position: center; /* Centra la imagen */
    border-radius: 50%; /* Hace que sea un círculo */
    border: 3px solid white;
  }
